In [105]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt


FILE = "./ecri2022.csv"

data = pd.read_csv(FILE)

In [114]:
data.sort_values(by=['StuID'])

,Unnamed: 0,StuID,Tier,SchlID,TeachID,Tx,Cohort,Keep,Time,t,NWFcls,NWFwrc,ORFwc,SAwrS,SAsrS,SAtoS,RMwidRS,RMwdaRS,na
0,1,1,2,1,3,tx,1,1,3.0,2.0,NaN,NaN,NaN,NaN,NaN,589.0,NaN,NaN,miss
776,777,1,2,1,3,tx,1,1,1.5,0.5,111.0,36.0,43.0,NaN,NaN,NaN,NaN,NaN,no_miss
388,389,1,2,1,3,tx,1,1,2.0,1.0,108.0,30.0,71.0,584.0,565.0,559.0,51.0,24.0,no_miss
1164,1165,1,2,1,3,tx,1,1,1.0,0.0,31.0,8.0,8.0,424.0,441.0,459.0,12.0,4.0,no_miss
389,390,2,2,1,3,tx,1,1,2.0,1.0,81.0,24.0,53.0,608.0,608.0,592.0,51.0,28.0,no_miss
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1313,1314,6132,2,20,83,tx,1,1,1.0,0.0,NaN,NaN,NaN,419.0,479.0,478.0,NaN,NaN,miss
1726,1727,6136,2,26,110,control,1,1,3.0,2.0,NaN,NaN,NaN,NaN,NaN,571.0,NaN,NaN,miss
2977,2978,6136,2,26,110,control,1,1,1.0,0.0,NaN,NaN,NaN,457.0,451.0,466.0,NaN,NaN,miss
2143,2144,6136,2,26,110,control,1,1,2.0,1.0,57.0,0.0,43.0,498.0,500.0,519.0,NaN,NaN,no_miss
2560,2561,6136,2,26,110,control,1,1,1.5,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,miss

In [107]:
# only consider Tx == tx
filtered_data = data[data["Tx"] == "tx"]

In [108]:
# extract data with Time == 1 or Time == 2
filtered_data = filtered_data[(filtered_data["Time"] == 1) | (filtered_data["Time"] == 2)]
filtered_data

,Unnamed: 0,StuID,Tier,SchlID,TeachID,Tx,Cohort,Keep,Time,t,NWFcls,NWFwrc,ORFwc,SAwrS,SAsrS,SAtoS,RMwidRS,RMwdaRS,na
388,389,1,2,1,3,tx,1,1,2.0,1.0,108.0,30.0,71.0,584.0,565.0,559.0,51.0,24.0,no_miss
389,390,2,2,1,3,tx,1,1,2.0,1.0,81.0,24.0,53.0,608.0,608.0,592.0,51.0,28.0,no_miss
390,391,3,2,1,3,tx,1,1,2.0,1.0,26.0,1.0,37.0,465.0,534.0,525.0,41.0,10.0,no_miss
391,392,4,2,1,3,tx,1,1,2.0,1.0,125.0,41.0,75.0,558.0,526.0,564.0,58.0,33.0,no_miss
392,393,6,2,1,3,tx,1,1,2.0,1.0,101.0,32.0,74.0,558.0,608.0,564.0,54.0,29.0,no_miss
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1547,1548,4744,2,42,172,tx,1,1,1.0,0.0,27.0,5.0,6.0,419.0,457.0,461.0,9.0,0.0,no_miss
1548,1549,4710,2,42,173,tx,1,1,1.0,0.0,25.0,7.0,9.0,429.0,425.0,461.0,12.0,4.0,no_miss
1549,1550,4719,2,42,173,tx,1,1,1.0,0.0,31.0,8.0,11.0,445.0,473.0,487.0,14.0,5.0,no_miss
1550,1551,4723,2,42,173,tx,1,1,1.0,0.0,16.0,4.0,8.0,429.0,435.0,463.0,17.0,6.0,no_miss
1551,1552,4762,2,42,173,tx,1,1,1.0,0.0,40.0,6.0,5.0,445.0,435.0,457.0,13.0,10.0,no_miss

In [109]:
a = filtered_data[(filtered_data["StuID"] == 1) & (filtered_data["Time"] == 1)][["NWFcls", "NWFwrc", "ORFwc"]]
a.columns = ["NWFcls_new", "NWFwrc_new", "ORFwc_new"]
# a
b = filtered_data[(filtered_data["StuID"] == 1) & (filtered_data["Time"] == 2)]
b
pd.concat([b,a], axis = 1, ignore_index=True)

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
388,389.0,1.0,2.0,1.0,3.0,tx,1.0,1.0,2.0,1.0,...,71.0,584.0,565.0,559.0,51.0,24.0,no_miss,NaN,NaN,NaN
1164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.0,8.0,8.0

In [111]:
# re arrange data
fields = ['NWFcls','NWFwrc', 'ORFwc','SAwrS','SAsrS','SAtoS','RMwidRS','RMwdaRS']
StuID_set = set(filtered_data['StuID'])
new_data = pd.DataFrame()
for stuid in StuID_set:
    old = filtered_data[(filtered_data["StuID"] == stuid) & (filtered_data["Time"] == 1)][["StuID"] + fields].copy()
    new = filtered_data[(filtered_data["StuID"] == stuid) & (filtered_data["Time"] == 2)]
    for f in fields:
        old[f + '_delta'] = new[f].values[0] - old[f].values[0] # get diff in score
    new_data = pd.concat([new_data, old], ignore_index=True)

In [112]:
# drop any rows with NaN
new_data.dropna(inplace=True)
new_data.reset_index(drop=True, inplace=True)
new_data

,StuID,NWFcls,NWFwrc,ORFwc,SAwrS,SAsrS,SAtoS,RMwidRS,RMwdaRS,NWFcls_delta,NWFwrc_delta,ORFwc_delta,SAwrS_delta,SAsrS_delta,SAtoS_delta,RMwidRS_delta,RMwdaRS_delta
0,1,31.0,8.0,8.0,424.0,441.0,459.0,12.0,4.0,77.0,22.0,63.0,160.0,124.0,100.0,39.0,20.0
1,2,40.0,13.0,9.0,419.0,457.0,472.0,17.0,6.0,41.0,11.0,44.0,189.0,151.0,120.0,34.0,22.0
2,3,14.0,4.0,8.0,419.0,435.0,450.0,9.0,2.0,12.0,-3.0,29.0,46.0,99.0,75.0,32.0,8.0
3,4,32.0,11.0,8.0,419.0,462.0,468.0,18.0,7.0,93.0,30.0,67.0,139.0,64.0,96.0,40.0,26.0
4,4100,45.0,15.0,8.0,419.0,446.0,459.0,11.0,11.0,80.0,20.0,58.0,123.0,66.0,71.0,31.0,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,1561,36.0,2.0,14.0,381.0,492.0,455.0,16.0,5.0,75.0,0.0,52.0,149.0,14.0,56.0,19.0,9.0
318,1586,18.0,2.0,3.0,435.0,467.0,472.0,4.0,2.0,33.0,2.0,25.0,63.0,115.0,61.0,35.0,23.0
319,1597,22.0,5.0,1.5,414.0,451.0,452.0,15.0,11.0,26.0,8.0,23.5,61.0,92.0,65.0,19.0,7.0
320,1598,36.0,3.0,21.0,457.0,486.0,485.0,22.0,3.0,31.0,-2.0,13.0,18.0,-13.0,4.0,18.0,4.0
321,1631,37.0,11.0,17.0,457.0,486.0,487.0,18.0,11.0,36.0,3.0,57.0,-96.0,79.0,20.0,34.0,18.0

In [115]:
# split data into train/test randomly by 70/30 split
total_N = new_data.shape[0]
train_N = int(0.7*total_N)
test_N = total_N - train_N

np.random.seed(2021)
row_idx = np.arange(total_N)
np.random.shuffle(row_idx)

In [116]:
train_idx = row_idx[:train_N]
test_idx = row_idx[train_N:]

train_data = new_data.iloc[train_idx]
test_data = new_data.iloc[test_idx]

In [117]:
# save data
train_data.to_csv('train.csv',index=False)
test_data.to_csv('test.csv',index=False)